<div class="mt-20 ml-20">
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>style</mat-icon>
            Users amount: {{usersAmount}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>style</mat-icon>
            Laboratories amount: {{laboratoriesAmount}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>style</mat-icon>
            Blocks amount: {{blocksAmount}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>style</mat-icon>    
            Faculties amount: {{facultiesAmount}}
        </mat-list-item>
    </mat-list>
</div>